<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>

<head>
    <meta charset="UTF-8">
    <title>Crazy Designs Co</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/navbar">Navbar</div>


<div class="container-fluid">
    <h5 class="text-center text-dark mt-5">
       Your need to be a registered user to be able to see the details of the designs.

        If you already have an account, please login here: <a th:href="@{/users/login}">Login</a>

        If you want the create an account, please register here: <a th:href="@{/users/register}">Register</a>
    </h5>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
